@font-face {
    font-family: ReturnOfGanon;
    src: url(../assets/fonts/retganon.ttf);
    font-weight: 400;
}

body {
    background:left top url(../assets/ui/bg.jpg) repeat #EBEBEB;
    color: black;
    font-family: Verdana,sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.4em;
}

p, .rog, #dialog, #hud {
    font-family: ReturnOfGanon,Consolas,'Lucida Console','DejaVu Sans Mono',monospace;
}

#btnStart { display:none; }

#game-container {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#game {
    height: 100%;
    width: 100%;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#game canvas {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
}

/* Fullscreen styles?

#game-container:-moz-full-screen, #game-container:-moz-full-screen #game-canvas {
    height: 600px;
    margin: 0;
    padding: 0;
    width: 800px;
}

#game-container:-moz-full-screen #stats {
    bottom: 5px;
    left: 5px;
    position: absolute;
}

#game-container:-moz-full-screen #fullscreen {
}*/

#gl-error { margin: 0.5em; }