@font-face {
    font-family: ReturnOfGanon;
    src: url(../assets/fonts/retganon.ttf);
    font-weight: 400;
}

body {
    background-color: #EBEBEB;
    color: black;
    font-family: Verdana,sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.4em;
}

button {
    height: 24px;
    padding: 0 8px;
}

p, .rog, #dialog, #hud {
    font-family: ReturnOfGanon,Consolas,'Lucida Console','DejaVu Sans Mono',monospace;
}

/* Dialog text */
#dialog {
    color: #FFF;
    font-size: 36px;
    text-align: left;
    line-height: 35px;
    padding: 2px 5px 5px 5px;

    height: 100px;
    top: 125px;

    width: 500px;
    left: 50%;
    margin-left: -270px;
    position: absolute;

    border-style: solid;
    border-width: 14px 13px;

    text-shadow:
        -1px -1px 1px #000073,  
        1px -1px 1px #000073,
        -1px 1px 1px #000073,
        1px 1px 1px #000073;

    -moz-border-image: url(../assets/ui/dialog-frame_tiny.png) 14 13 repeat;
    -webkit-border-image: url(../assets/ui/dialog-frame_tiny.png) 14 13 repeat;
    -o-border-image: url(../assets/ui/dialog-frame_tiny.png) 14 13 repeat;
    border-image: url(../assets/ui/dialog-frame_tiny.png) 14 13 repeat;

    display: none;
}

/* HUD */
#hud {
    color: #FFF;
    font-style: italic;
    text-align: center;

    height: 150px;
    top: -275px;

    width: 700px;
    left: 50%;
    margin-left: -350px;
    position: absolute;

    z-index: 100;
}

#hud > div {
    position: absolute;
}

#hud .meter {
    background: left top url(../assets/ui/magic_meter.png) no-repeat;
    width: 32px;
    height: 84px;
}

#hud .meter.upgraded {
    background: left top url(../assets/ui/magic_meter_2.png) no-repeat;
    width: 32px;
    height: 86px;
}

#hud .meter .meter-value {
    background: center bottom url(../assets/ui/magic_meter_value.png) no-repeat;
    width: 20px;
    height: 70px;
    margin: 6px 0  0 6px;
}

#hud .item {
    background: left top url(../assets/ui/item-frame.png) no-repeat;
    width: 44px;
    height: 44px;

    left: 40px;
}

#hud .rupees, #hud .bombs, #hud .arrows {
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 20px;
    font-style: italic;

    width: 32px;
    height: 32px;

    font-size: 22px;
    text-shadow: 1px 1px 0 #000;
    text-indent: -7px;
}

#hud .rupees { background-image: url(../assets/ui/indicator-rupees.png); left: 130px; }
#hud .bombs { background-image: url(../assets/ui/indicator-bombs.png); left: 200px; }
#hud .arrows { background-image: url(../assets/ui/indicator-arrows.png); left: 270px; }

#hud .life {
    font-style: normal;
    text-shadow:
        1px 1px 0 #000,
        2px 2px 0 #000;

    left: 515px;
    font-size: 22px;
}

#hud .life .dash {
    background: left top url(../assets/ui/life-dash.png) no-repeat;
    width: 24px;
    height: 4px;
    display: inline-block;
    margin-bottom: 5px;
}

#hud .life .hearts {
    width:180px;
}

#hud .life .hearts .heart {
    background: center top url(../assets/ui/heart-full.png) no-repeat;
    width: 14px;
    height: 14px;
    margin: 2px;
    display: block;
    float: left;
}

/*#life .hearts .heart.3-4 { background-image: url(../assets/ui/heart-4-3.png); }*/
#hud .life .hearts .heart.half { background-image: url(../assets/ui/heart-half.png); }
/*#life .hearts .heart.1-4 { background-image: url(../assets/ui/heart-1-4.png); }*/
#hud .life .hearts .heart.empty { background-image: url(../assets/ui/heart-empty.png); }

/* modal box */
.modal { z-index: 40001; display: none; }

.modal .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 40001;
    top: 0;
    left: 0;
}

.modal .vert-center {
    position: fixed;
    top: 30%;
    width: 100%;
    z-index: 40002;
}

.modal .modal-content {
    width: 450px;
    position: relative;
    margin: 0 auto;
    background-color: #FFF;
    padding: 10px;
    border: solid 1px #000;
}

/* CSS below this point is garbage... */
#game canvas {
    background-color: #CCC;
    display: block;
}

#stats {
    z-index: 2;
}

#game-container:-moz-full-screen, #game-container:-moz-full-screen #game-canvas {
    height: 600px;
    margin: 0;
    padding: 0;
    width: 800px;
}

#game-container:-moz-full-screen #stats {
    bottom: 5px;
    left: 5px;
    position: absolute;
}

#game-container:-moz-full-screen #fullscreen {
}

#gl-error {
    margin: 0.5em;
}

#game canvas {
    height: 600px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 800px;
}

#stats {
    bottom: 5px;
    left: 5px;
    position: absolute;
}

#game-container {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    overflow: visible;
    text-align: center;
    visibility: visible;
}

#game {
    height: 600px;
    left: 50%;
    margin-left: -400px;
    position: absolute;
    top: -300px;
    visibility: visible;
    width: 800px;
}

#progTotal {
    width:700px;
    height:35px;
    
    margin:10px auto;
}

#progPart {
    width:500px;
    height:20px;
    
    margin:0 auto 10px auto;
}

.ui-progressbar-text {
    position: absolute;
    left: 50%;
    
    width: 400px;
    margin-left: -200px;
    text-align: center;
}

#progTotal .ui-progressbar-text { font-size:0.8em; font-weight:bold; line-height:35px; }
#progPart .ui-progressbar-text { font-size:0.6em; line-height:20px; }

#btnStart { display:none; }