.col2 {
    float: left;
    width: 48%;
}

.clear { clear: both; }
.col3 { float:left; width:30%; }

canvas { vertical-align:top; }

.tool {
    height: 25px;
    width: 85px;
    padding: 3px;

    background-position: left top;
    background-repeat: repeat;
    display: inline-block;

    color: #FFF;
    font-size: 0.8em;
    text-align: center;
    cursor: pointer;
}

.tool:hover {
    padding: 1px;
    border: solid 2px #00A1FF;
}

.tool.selected {
    padding: 1px;
    border: solid 2px #0F0;
}

.tool.empty { background:rgba(255, 255, 255, 1); color: #111; }
.tool.jumpdown { background:rgba(0, 200, 0, 1); }
.tool.reserved { background:rgba(0, 0, 200, 1); }
.tool.block { background:rgba(200, 0, 0, 1); }

/* Code Containers */
textarea.meta { width:95%; }
pre.meta, textarea.meta {
    border:solid 1px #CCC;
    padding:5px;
    margin:0 5px;
    font-weight:bold;
    overflow:auto;
    font-size:0.6em;
    color:#FFF;
    background:#111;
    /*white-space:pre-wrap;*/
}
pre.meta .string { color: green; }
pre.meta .number { color: firebrick; }
pre.meta .bool { color: blue; }
pre.meta .null { color: magenta; }
pre.meta .key { color: #444; }