h2, h3, h4, h5 { text-decoration: underline; text-align: center; }
h2, h3, h5 { margin:6px 10px;}
h4 { margin:10px; }

.clear { clear: both; }
.col { float:left; }
.small { font-size: 0.8em !important; }

.w50 { width:50%; }

canvas, .map { vertical-align:top; }

#editor { padding:1em 0; }

#editors, #btnEdit, #btnDlTm, .col, .tools { display:none; }
.left { float:left; width:15%; text-align: center; }
.right { float:left; width:85%; }

.tools { font-size:0.8em !important; }

.tool {
    height: 25px;
    width: 85px;
    padding: 3px;

    background-position: left top;
    background-repeat: repeat;
    display: inline-block;

    color: #FFF;
    font-size: 0.8em;
    text-align: center;
    cursor: pointer;
}

.tool:hover {
    padding: 1px;
    border: solid 2px #00A1FF;
}

.tool.selected {
    padding: 1px;
    border: solid 2px #0F0;
}

.tool.empty { background:rgba(255, 255, 255, 1); color: #111; }
.tool.jumpdown { background:rgba(0, 200, 0, 1); }
.tool.reserved { background:rgba(0, 0, 200, 1); }
.tool.block { background:rgba(200, 0, 0, 1); }

/* Code Containers */
pre.meta, textarea.meta {
    width:95%;
    height: 700px;
    border:solid 1px #CCC;
    padding:5px;
    margin:0 5px;
    /*font-weight:bold;*/
    overflow:auto;
    font-size:0.6em !important;
    font-family:'Courier New',Courier,'Nimbus Mono L',monospace !important;
    color:#FFF;
    background:#111;
    /*white-space:pre-wrap;*/
}
pre.meta .string { color: green; }
pre.meta .number { color: firebrick; }
pre.meta .bool { color: blue; }
pre.meta .null { color: magenta; }
pre.meta .key { color: #444; }